html, body,{
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-content {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

.top-wrapper {
  width: 100%;
  background-color: blue ; opacity: 0.69;
}

.top-navigation {
  padding: 15px;
  color: white;
  font-size: 15pt;
}

.top-links {
  text-decoration: none;
  color: white;
}
