<h2>Welcome to Nearby Munchies</h2>
<h3>Past Searches</h3>
<ul>
<% @locations.each do |location| %>
<li><a href="locations/<%= location.id %>"><%= location.address %></a></li>
<% end %>
</ul>
<div id="map"></div>
