<h2 class="page-head">All Locations</h2>
<div class="page-content">
  <h3>Latest Searches</h3>
  <ul class="location-list">
  <% @locations.each do |location| %>
  <li class="location"><a href="locations/<%= location.id %>"><%= location.address %></a></li>
  <% end %>
  </ul>
</div>
